# dev
LDAP_URL=ldap://10.20.195.58:389

USER_DSN_PREFIX=cn=
USER_DSN_SUFFIX=,ou=users,o=standardchartered

# fullname holds names in the format - <last name>,<first name>
ATTRIB_NAME=fullName

ATTRIB_BANKID=uid
ATTRIB_EMAIL=mail
ATTRIB_DESIGNATION=title
ATTRIB_INTRUDER_ATTEMPTS=loginintruderattempts

ATTRIB_EMPLOYEE_STATUS=employeeStatus

ATTRIB_EMPLOYEE_TYPE=employeetype

ATTRIB_LOCKED=lockedByIntruder
ATTRIB_LASTNAME=lastName


RETURN_ATTRIBUTES=uid,fullName,mail,title,loginintruderattempts,employeeStatus,employeetype,lockedByIntruder,lastName

AUTHENTICATION_SIMPLE=simple
LDAP_FACTORY=com.sun.jndi.ldap.LdapCtxFactory
